// Цвета
$bg: #fff;
$bg_loading: #F6F6F9;
$bg_button: #A73AFD;
$bg_hover: #F1DFFF;
$bg_active:#F4E7FF;
$bg_header: #6612D2;
$bg_basket: #f55123;

$text_black:#000;
$text_white: #fff;
$text_purle:#A73AFD;
$text_white_06:rgba(255,255,255,.6);

// Анимация
$speed_03: 0.3s;


// Контейнер
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}